@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v138/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    
    
  }
 * {
  
    margin: 0;
    padding: 0;
  }
  
  .header__left img {
    object-fit: contain;
    height: 30px;
    margin-right:400px;
      
  }
  
  .header {
    display: flex;
    position: sticky;
    z-index: 999;
    justify-content: space-around;
    border-bottom:0.1px solid lightgray;
    padding-top: 10px;
    margin-bottom: -10px;
    width: 100%;
    background-color: white;
    height: 50px;
  }
  
  .header__left {
    display: flex;
    
  }
  
  .header__right {
    display: flex;
    margin-right: 200px;
  }
.line{
  border-right: black 2px solid;
}  
  .header__search {
    margin-left: -390px;
    margin-top: -2px;
    padding: 17px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    width: 300px;
    color: gray;
    background-color: #eef3f8;
  }
  
  .header__search > input {
    outline: none;
    border: none;
    background: none;
  }
  
  .headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:20px;
    color: gray;
    cursor: pointer;
    margin-top: -7px;
  }
  
  .headerOption:hover {
    color: black;
  }
  
  .headerOption h3 {
    font-size: 12px;
    margin-top: 8px;
    font-weight: 400;
  }
  
  .headerOption__icon {
    margin-right: 5px;
    height: 20px;
    width: 20px;
  }
  .cont{
    width: 80%;
    margin-left: 150px;
    margin-top: 30px;
  }
  .sileft{
    width: 254px;
    background-color: white;
    height: 718px;

  }
  .jast{
    
    margin-left: 45px;

  }
  .rh{
    color: rgb(143, 143, 143);
    margin-top: 5px;
  }
  .hoc:hover{
    border-radius: 50%;
     width: 25px;
    height: 25px;
    background-color: #f3f2ef;
  }
  .section{
    background-color: white;
    height: 720px;
    margin-left: 2px;
  }
  .fdre{
    border: 2px none;
    width: 480px;
    border-radius: 5px;
  }
  .fdwe:hover{
    color: green;
    
  }
  .place{
    border: none;
    height: 150px;
    width: 100%;
    line-height: -15px;
  }
  .hocx:hover{
    background-color: rgba(175, 175, 175, 0.301);
    border-radius: 50%;
    
  }
  .sirith{
    margin-left: 20px;
  }

a{
    color: #000;
    text-decoration: none;
}